$color-login-bg: #e5e5e5;
$color-login-tab-bg: #e7f2ff;
$color-login-component: #769fb6;

$color-component: #4183ba;
$color-component-secondary: #0a1931;

$color-bg: #eeeeeebd;

$color-shadow: rgba(#222222, 0.5);

$color-gradient-1: #4a6de5;
$color-gradient-2: #5005ba;

$color-blue-sky: #a8dadc;
$color-blue-light: #f6ffff;

$color-white: #fff;
$color-black: #000;

$blur: 20px;
$shadow-opacity: 0.30;