$color-login-bg: #e5e5e5;
$color-login-tab-bg: #e7f2ff;
$color-login-component: #769fb6;

$color-blue-sky: #a8dadc;
$color-blue-light: #f6ffff;

$color-white: #fff;
$color-black: #000;

$blur: 20px;
$shadow-opacity: 0.30;