@keyframes moveInLeft {
  0% {
    transform: translateX(-30rem); }
  100% {
    transform: translateX(0); } }

@keyframes moveOutLeft {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-30rem); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%; }

body {
  font-family: 'Montserrat', sans-serif !important;
  background-color: #eeeeeebd;
  font-size: 10px !important; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important; }

p {
  margin: 0 !important; }

.heading-login {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3.2rem; }
  .heading-login--secondary {
    font-size: 2rem; }

.heading-user {
  font-family: "Ubuntu", sans-serif;
  font-size: 3rem; }
  .heading-user--secondary {
    font-size: 1.5rem; }

.u-center-text {
  text-align: center; }

.u-left-text {
  text-align: left; }

.u-right-text {
  text-align: right; }

.u-margin-top-small {
  margin-top: 1rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-large {
  margin-bottom: 8rem !important; }

.u-hidden {
  display: none; }

.u-visible {
  display: initial; }

.u-move-out-animation {
  animation: moveOutLeft 0.5s; }

.button:link, .button:visited {
  display: block;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 15px;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s;
  box-shadow: 0 1px 1px rgba(34, 34, 34, 0.5); }

.button:hover {
  box-shadow: 0 2px 4px rgba(34, 34, 34, 0.5); }

.button:active {
  transform: scale(0.95);
  box-shadow: 0 0.5px 1px rgba(34, 34, 34, 0.5); }

.button--blue {
  background-color: #4183ba; }

.button--purple {
  background-color: #5005ba; }
  .button--purple:hover {
    box-shadow: 0 1px 1px rgba(34, 34, 34, 0.5); }
  .button--purple--round {
    border-radius: 50% !important;
    background-color: black;
    padding: 5px !important;
    background: url("/src/assets/images/login/buttonArrow.png") no-repeat;
    width: 5.5rem;
    height: 5.5rem;
    margin: auto; }

.button--modal {
  width: 30%;
  text-align: center; }
  .button--modal--cancel {
    background-color: green; }
  .button--modal--close {
    background-color: red; }

.input-component {
  display: block;
  width: 30rem;
  max-width: 30rem;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 15px;
  border-style: solid !important;
  border-color: #a8dadc;
  background-color: #f6ffff;
  margin-bottom: 2rem; }
  .input-component__userInput {
    display: flex;
    width: 100%;
    max-width: 500px;
    padding: 1.2rem;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    background-color: #f6ffff;
    margin-bottom: 2rem;
    justify-content: center; }
  .input-component__userInputFile {
    background-color: indigo;
    color: white;
    padding: 10px;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem; }
  .input-component:focus {
    outline: none;
    border: 2px solid #a8dadc;
    box-shadow: 0 1px 2px rgba(168, 218, 220, 0.6); }
  .input-component--search {
    width: 100%;
    border-radius: 12px;
    border: 1px solid white;
    height: 3.5rem;
    font-size: 1.5rem;
    padding: 0 1rem; }
    .input-component--search:focus {
      outline: none; }
    .input-component--search__image {
      filter: invert(48%) sepia(41%) saturate(707%) hue-rotate(166deg) brightness(90%) contrast(88%); }
  .input-component--post {
    font-family: 'Montserrat', sans-serif;
    resize: none;
    width: 80%;
    height: 4rem;
    border-radius: 7.3rem;
    border-style: solid !important;
    border: 1px solid rgba(34, 34, 34, 0.5);
    padding: 1rem;
    transition: all 0.2s; }
    .input-component--post:focus {
      outline: none; }
  .input-component--modal {
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px; }
    .input-component--modal:focus {
      outline: none;
      border: 1px solid rgba(0, 0, 0, 0.3);
      box-shadow: none; }
    .input-component--modal--description {
      resize: none;
      height: 10rem;
      overflow: hidden; }
      .input-component--modal--description:empty::before {
        content: attr(data-placeholder);
        color: rgba(0, 0, 0, 0.65); }

.nav-component {
  box-shadow: 0 1px 1px rgba(34, 34, 34, 0.5);
  width: 100%;
  height: 6.5rem;
  background-color: #4183ba;
  display: flex;
  align-items: center; }
  .nav-component__items {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 75em) {
      .nav-component__items {
        width: 98%; } }
    @media only screen and (max-width: 56.25em) {
      .nav-component__items {
        width: 80%; } }
    @media only screen and (max-width: 37.5em) {
      .nav-component__items {
        width: 95%;
        justify-content: space-around; } }
  .nav-component__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    width: 37rem;
    background-color: #fff;
    padding: 0 1rem 0 0; }
    @media only screen and (max-width: 37.5em) {
      .nav-component__search {
        width: 30rem; } }
    @media only screen and (max-width: 27.625em) {
      .nav-component__search {
        width: 25rem; } }
  .nav-component__logo {
    width: 50px; }
    @media only screen and (max-width: 56.25em) {
      .nav-component__logo {
        display: none; } }
  .nav-component__link:link, .nav-component__link:visited {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s; }
  @media only screen and (max-width: 56.25em) {
    .nav-component__link {
      display: none; } }
  .nav-component__link:hover {
    padding: 0.5rem;
    border-radius: 4px;
    color: #fff;
    background-color: #0a1931; }
  .nav-component__notification {
    width: 20px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%); }
  .nav-component__user-profile {
    width: 50px;
    border-radius: 50%; }
    @media only screen and (max-width: 56.25em) {
      .nav-component__user-profile {
        display: none; } }
  .nav-component--bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
    height: 5rem;
    box-shadow: 0px -1px 1px rgba(34, 34, 34, 0.5); }
    @media only screen and (max-width: 56.25em) {
      .nav-component--bottom {
        display: initial; } }
  .nav-component__hamburger {
    width: 40px;
    border-radius: 100%;
    cursor: pointer;
    display: none; }
    @media only screen and (max-width: 56.25em) {
      .nav-component__hamburger {
        display: initial; } }

.nav-hamburger {
  animation: moveInLeft 0.5s;
  width: 80vw;
  max-width: 30rem;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: black;
  z-index: 2; }

.modal {
  overflow-y: auto; }
  .modal__options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .modal__options__rule {
      width: 10rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
      margin: 0.5rem; }
    .modal__options__link {
      transition: all 0.2s;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem; }
      .modal__options__link:hover {
        padding: 1.5rem;
        background-color: #4183ba;
        border-radius: 5px;
        width: 80%;
        margin: auto; }
        .modal__options__link:hover > img {
          filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%); }
        .modal__options__link:hover > h1 {
          color: #fff; }
      .modal__options__link > img {
        margin-right: 1rem;
        width: 3rem;
        filter: invert(48%) sepia(41%) saturate(707%) hue-rotate(166deg) brightness(90%) contrast(88%); }
      .modal__options__link > h1 {
        font-weight: 400; }
  .modal__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 2rem; }
    .modal__heading > a {
      text-decoration: none;
      font-size: 2rem; }
  .modal__content > p {
    font-size: 1.5rem; }
  .modal__content__radio {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem; }
    .modal__content__radio__options {
      width: 100%;
      display: flex;
      justify-content: space-evenly; }
      .modal__content__radio__options > div {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .modal__content__radio__options > div > label {
          margin-right: 1rem; }
  .modal__content__slider > label {
    text-align: center;
    font-size: 1.5rem;
    display: block; }
  .modal__content__slider__input {
    width: 90% !important;
    margin: 0.5rem auto 2rem !important; }
  .modal__content__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem; }
    .modal__content__actions--thoughts {
      margin-top: 2rem; }
    .modal__content__actions__item:link, .modal__content__actions__item:visited {
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #000; }
      @media (max-width: 442px) {
        .modal__content__actions__item:link, .modal__content__actions__item:visited {
          font-size: 1.25rem; } }
    .modal__content__actions__item__icon {
      margin-right: 1rem;
      height: 2rem;
      width: 2rem; }
      @media (max-width: 442px) {
        .modal__content__actions__item__icon {
          margin-right: 0.5rem;
          height: 1.5rem;
          width: 1.5rem; } }
    .modal__content__actions__tags {
      margin-bottom: 1rem; }
    .modal__content__actions__button {
      width: 12rem;
      text-align: center; }
      @media (max-width: 442px) {
        .modal__content__actions__button {
          width: 6rem;
          font-size: 1.5rem !important; } }
  .modal__close__buttons {
    display: flex;
    justify-content: space-evenly; }

.login-page__form {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
  .login-page__form__img {
    width: 7.1rem; }
  .login-page__form__division {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin-top: 3rem !important;
    margin-bottom: 2rem !important; }
    .login-page__form__division > span {
      background: #fff;
      padding: 0 10px; }
  .login-page__form__social-icons {
    display: flex;
    justify-content: space-around; }
    .login-page__form__social-icons__link {
      padding: 1rem;
      transition: all 0.2s; }
      .login-page__form__social-icons__link:hover {
        transform: scale(1.2); }
      .login-page__form__social-icons__link:active {
        transform: scale(1); }

.signup-links {
  margin-top: 1rem !important;
  display: flex;
  justify-content: space-between; }
  .signup-links > div > a:link, .signup-links > div > a:visited {
    color: #4183ba;
    text-decoration: none;
    transition: all 0.2s; }
    .signup-links > div > a:link:hover, .signup-links > div > a:visited:hover {
      background-color: #4183ba;
      color: #fff;
      padding: 0.3rem;
      border-radius: 15px; }

.feed__wrapper {
  display: flex;
  flex-direction: row;
  margin: 2rem 15rem 0 15rem; }
  @media only screen and (max-width: 75em) {
    .feed__wrapper {
      margin: 1rem; } }

.feed__left {
  width: 22.5%;
  padding: 1rem; }
  .feed__left__links {
    text-align: center;
    height: 25rem;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 10%;
    box-shadow: 0 1px 1px rgba(34, 34, 34, 0.5); }
    .feed__left__links__item {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      font-size: 2rem;
      color: #000;
      transition: all 0.2s; }
      .feed__left__links__item:hover {
        padding: 0.5rem;
        border-radius: 4px;
        color: #fff;
        background-color: #4183ba; }
      .feed__left__links__item:hover > img {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%); }
      @media only screen and (max-width: 75em) {
        .feed__left__links__item {
          font-size: 1.75rem; } }
      .feed__left__links__item__image {
        margin-right: 1rem;
        width: 25px;
        filter: invert(48%) sepia(41%) saturate(707%) hue-rotate(166deg) brightness(90%) contrast(88%); }
  .feed__left__teams {
    margin-top: 2rem;
    height: 26.2rem;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 1px 1px rgba(34, 34, 34, 0.5); }
  @media only screen and (max-width: 56.25em) {
    .feed__left {
      display: none; } }

.feed__center {
  width: 55%;
  padding: 1rem; }
  .feed__center__create-post {
    background-color: #fff;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 1px 1px rgba(34, 34, 34, 0.5); }
    .feed__center__create-post__text-area {
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
      font-size: 1.2rem; }
      .feed__center__create-post__text-area__image {
        width: 50px;
        border-radius: 100%; }
  @media screen and (max-width: 1000px) {
    .feed__center {
      width: 80%;
      margin: 0 auto; } }
  @media only screen and (max-width: 37.5em) {
    .feed__center {
      width: 100%; } }

.feed__right {
  width: 22.5%;
  padding: 1rem; }
  .feed__right__profile {
    height: 26.2rem;
    background-color: #fff;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 1px rgba(34, 34, 34, 0.5); }
    .feed__right__profile__lower {
      height: 80%;
      position: relative;
      top: 20%;
      background-color: rgba(65, 131, 186, 0.1);
      border-radius: 50px 50px 12px 12px;
      padding: 3rem 2rem 2rem; }
    .feed__right__profile__image {
      width: 50px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: #fff; }
    .feed__right__profile__name {
      font-size: 2rem;
      font-weight: 500; }
    .feed__right__profile__designation {
      font-weight: 500;
      color: rgba(34, 34, 34, 0.5); }
    .feed__right__profile__button:link, .feed__right__profile__button:visited {
      position: absolute;
      bottom: 2rem;
      left: 50%;
      transform: translateX(-50%);
      width: 90%;
      margin: 0 auto;
      background-color: #4183ba; }
    .feed__right__profile__button:active {
      transform: scaleY(0.95) translateX(-50%);
      box-shadow: 0 0.5px 1px #769fb6; }
  .feed__right__featured-projects {
    height: 17rem;
    margin-top: 2rem;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 1px 1px rgba(34, 34, 34, 0.5); }
  .feed__right__friend-suggestions {
    height: 17rem;
    margin-top: 2rem;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 1px 1px rgba(34, 34, 34, 0.5); }
  @media screen and (max-width: 1000px) {
    .feed__right {
      display: none; } }

.user-detail__container {
  background-color: #779fb6; }

.user-detail__step-container {
  text-align: center;
  margin-top: 40px; }

.user-detail__input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.user-detail__step {
  text-align: center;
  margin-top: 4rem;
  height: 1rem;
  width: 10rem;
  margin: 1rem 2rem;
  background-color: #bbbbbb;
  border: none;
  border-radius: 15% 15%;
  display: inline-block;
  opacity: 0.5; }
  .user-detail__step--active {
    background-color: black;
    opacity: 1; }
  .user-detail__step--finish {
    background-color: #dddddd; }

.user-detail__form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  z-index: 1;
  background: inherit;
  width: 77rem;
  height: 500px;
  align-items: middle;
  justify-content: center; }
  .user-detail__form:before {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; }
  .user-detail__form__img {
    width: 18rem;
    margin: 2rem; }
    .user-detail__form__img:hover {
      transform: scale(1.05); }
    .user-detail__form__img:active {
      transform: scale(1); }
  .user-detail__form--buttons {
    overflow: auto; }

.user-detail__type {
  margin-top: 5rem; }

.background {
  height: 100vh;
  overflow: hidden;
  background-color: #e5e5e5; }
  .background__topLeft {
    position: absolute;
    top: -30px;
    left: -10px;
    width: 300px;
    height: 310px; }
  .background__topRight {
    position: relative;
    left: 78%;
    width: 300px;
    height: 310px; }
  .background__top {
    position: relative;
    left: 15%;
    top: -130px;
    width: 300px;
    height: 210px; }
  .background__bottomLeft {
    width: 332px;
    height: 306px;
    position: relative;
    top: 49%;
    left: -42%; }
  .background__bottomRight {
    width: 325px;
    height: 325px;
    position: relative;
    top: 49%;
    left: 10%; }
