@keyframes moveInLeft {
  0% {
    transform: translateX(-30rem); }
  100% {
    transform: translateX(0); } }

@keyframes moveOutLeft {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-30rem); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif; }

body {
  background-color: #fff; }

.heading-login {
  font-family: "Ubuntu", sans-serif;
  font-size: 3.2rem; }
  .heading-login--secondary {
    font-size: 2rem; }

.u-center-text {
  text-align: center; }

.u-left-text {
  text-align: left; }

.u-right-text {
  text-align: right; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-large {
  margin-bottom: 8rem; }

.u-hidden {
  display: none; }

.u-visible {
  display: initial; }

.u-move-out-animation {
  animation: moveOutLeft 0.5s; }

.button--blue:link, .button--blue:visited {
  display: block;
  font-size: 2rem;
  background-color: #769fb6;
  padding: 1rem;
  border-radius: 15px;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s;
  box-shadow: 0 1px 2px #769fb6; }

.button--blue:hover {
  box-shadow: 0 2px 4px #769fb6; }

.button--blue:active {
  transform: scale(0.95);
  box-shadow: 0 0.5px 1px #769fb6; }

.input-component {
  display: block;
  width: 30rem;
  max-width: 30rem;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  border-radius: 15px;
  border-style: solid !important;
  border-color: #a8dadc;
  background-color: #f6ffff;
  margin-bottom: 2rem; }
  .input-component:focus {
    outline: none;
    border: 2px solid #a8dadc;
    box-shadow: 0 1px 2px rgba(168, 218, 220, 0.6); }

.nav-component {
  width: 100%;
  height: 6.5rem;
  box-shadow: 0px 2px 4px #cdc4e7;
  display: flex;
  align-items: center; }
  .nav-component--bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
    height: 6.5rem;
    box-shadow: 0px -2px 4px #cdc4e7;
    z-index: 1; }
    @media only screen and (max-width: 56.25em) {
      .nav-component--bottom {
        display: initial; } }
  .nav-component__hamburger {
    width: 4rem;
    height: 4rem;
    border-radius: 12px;
    box-shadow: 0px 2px 4px #cdc4e7;
    display: none;
    margin-left: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .nav-component__hamburger {
        display: initial; } }

.nav-hamburger {
  animation: moveInLeft 0.5s;
  width: 80vw;
  max-width: 30rem;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: black;
  z-index: 2; }

.login-page__form {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
  .login-page__form__img {
    width: 7.1rem; }
  .login-page__form__division {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin-top: 2rem; }
    .login-page__form__division > span {
      background: #fff;
      padding: 0 10px; }
  .login-page__form__social-icons {
    display: flex;
    justify-content: space-around; }
    .login-page__form__social-icons__link {
      padding: 1rem;
      transition: all 0.2s; }
      .login-page__form__social-icons__link:hover {
        transform: scale(1.2); }
      .login-page__form__social-icons__link:active {
        transform: scale(1); }

.signup-links {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between; }
  .signup-links > div > a:link, .signup-links > div > a:visited {
    color: #769fb6;
    text-decoration: none;
    transition: all 0.2s; }
    .signup-links > div > a:link:hover, .signup-links > div > a:visited:hover {
      background-color: #769fb6;
      color: #fff;
      padding: 0.3rem;
      border-radius: 15px; }

.feed__wrapper {
  display: flex;
  flex-direction: row;
  margin: 2rem 8rem 0 8rem; }
  @media only screen and (max-width: 75em) {
    .feed__wrapper {
      margin: 1rem; } }

.feed__left {
  width: 20%;
  padding: 1rem; }
  .feed__left__links {
    height: 26.2rem;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 4px #cdc4e7; }
  .feed__left__teams {
    margin-top: 2rem;
    height: 26.2rem;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 4px #cdc4e7; }
  @media only screen and (max-width: 56.25em) {
    .feed__left {
      display: none; } }

.feed__center {
  width: 60%;
  padding: 1rem; }
  .feed__center__create-post {
    height: 17rem;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 4px #cdc4e7; }
  @media screen and (max-width: 1000px) {
    .feed__center {
      width: 80%;
      margin: 0 auto; } }
  @media only screen and (max-width: 37.5em) {
    .feed__center {
      width: 100%; } }

.feed__right {
  width: 20%;
  padding: 1rem; }
  .feed__right__profile {
    height: 26.2rem;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 4px #cdc4e7; }
  .feed__right__featured-projects {
    height: 17rem;
    margin-top: 2rem;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 4px #cdc4e7; }
  .feed__right__friend-suggestions {
    height: 17rem;
    margin-top: 2rem;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 4px #cdc4e7; }
  @media screen and (max-width: 1000px) {
    .feed__right {
      display: none; } }
